.hero-image {
  background-image: url("https://www.unchealthcare.org/app/files/public/15871/img-system-2020-hospital-week-homepage-banner.jpg");
  background-color: #cccccc;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
h2, h6 {
  text-align: center;
}

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  .themed-grid-col {
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: lightgrey;
      border: 1px solid white;
      text-align: center;
  }